body {
    font-family: 'Nunito', sans-serif !important;
}

.text-custom {
    color: #104B28 !important;
}

.bg-custom {
    background-color: #104B28 !important;
}

/*Login/Register*/
#custom-bg {
    background: linear-gradient(to right, #104B28 50%, white 50%);
    /* height: 100vh; */
}

@media (max-width: 768px) {
    #custom-bg {
        background: linear-gradient(to bottom, #104B28 50%, white 50%);
        /* height: 100vh;  */
    }
}


